<html ng-app="betterApp">
<head>
    <title>Better App</title>
</head>
<body ng-cloak="true">

    <form ng-controller="betterController as better" ng-submit="better.createMessage()">
        <div>
            <label>
                First Name: <input ng-model="better.firstName" />
            </label>
        </div>
        <div>
            <label>
                Last Name: <input ng-model="better.lastName" />
            </label>
        </div>
        <div>
            <input type="submit" value="Create" />
        </div>

        {{ better.firstName + ' ' + better.lastName}}

        <hr />

        {{ better.message }}
    </form>




    <script src="~/lib/angular/angular.js"></script>
    <script src="~/app.js"></script>

</body>
</html>