<ul>
    <li>
        <a href="/home/simple">SimpleApp</a>
    </li>
    <li>
        <a href="/home/better">BetterApp</a>
    </li>
    <li>
        <a href="/home/validation">ValidationApp</a>
    </li>
    <li>
        <a href="/home/ajax">AjaxApp</a>
    </li>
    <li>
        <a href="/home/resource">ResourceApp</a>
    </li>
    <li>
        <a href="/home/routes">RouteApp</a>
    </li>

</ul>