

<form method="post" action="/products/create">

    <div>
        <label>
            Name: <input name="Name" />
        </label>
    </div>

    <div>
        <label>
            Price: <input name="Price" />
        </label>
    </div>

    <input type="submit" value="Create" />

</form>