@model Helpers.Models.Product


@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Name, "Name:")
        @Html.TextBoxFor(m => m.Name)
    </div>

    <div>
        @Html.LabelFor(m => m.Price, "Price:")
        @Html.TextBoxFor(m => m.Price)
    </div>

    <div>
        <input type="submit" value="Create" />
    </div>

}